.prev_list {
	width: 40px;
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: 2px;
	margin-top: 2px;
	float: left;
	top: 45%;
	position: relative;
}
.next_list {
	width: 40px;
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: 2px;
	margin-top: 2px;
	float: right;
	bottom: 55%;
	position: relative;
}
#list {
	padding: 0;
	width: 1230px;
	height: 224px;
}
.medals_list {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 1130px;
	height: 224px;
}
.medals_list li {
	padding: 0;
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: 2px;
	margin-top: 2px;
	float: left;
	position: relative;
	text-align: center;
	border-width: 1px;
	border-style: solid;
	border-color: gray;
	width: 220px;
	height: 220px;
}
.ribbons_list {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 1130px;
	height: 224px;
}
.ribbons_list li {
	padding: 0;
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: 2px;
	margin-top: 2px;
	float: left;
	position: relative;
	text-align: center;
	border-width: 1px;
	border-style: solid;
	border-color: gray;
	width: 220px;
	height: 220px;
}