{% extends "master_page.html" %}

{% block title %}Player info{% endblock %}

{%block scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}/js/player.js"></script>
{% endblock %}

{% block content %}

<div id="search">
<div style="text-align: center;">
<img src="{{ image_url }}/bf3/servicestars/servicestar.png">
<br/>
    <label for="player_name">Enter soldier name</label><input id="player_name" type="text"/>
<button id="find_player" name="find_player">Find</button>
    </div>
</div>

<div id="result"></div>
	
{% endblock %}
